<%= link_to "New Bar", "/bars/new" %>
<br>
<h1>Bar Index Page</h1>
<br>
<% @bars.each do |bar| %>
  <p>Name: <%= bar.name %></p>
  <p>City: <%= bar.city %></p>
  <p>Tap Quantity: <%= bar.tap_quantity %></p>
  <p>Overnight Delivery: <%= bar.overnight_delivery? %></p>
  <p>Created At: <%= bar.created_at %></p>
  <br>
<% end %>
