<br>
<h1>Bar Index Page</h1>
<br>
<% @bars.each do |bar| %>
  <p>Name: <%= link_to "#{bar.name}", "/bars/#{bar.id}" %></p>
  <p>City: <%= link_to bar.city %></p>
  <p>Tap Quantity: <%= bar.tap_quantity %></p>
  <p>Overnight Delivery: <%= bar.overnight_delivery %></p>
  <p>Created At: <%= bar.created_at %></p>
  <br>
<% end %>

<%= link_to "New Bar", "/bars/new" %>