<a href="/bars">Bar Index Page</a>
<a href="/kegs">Keg Index Page</a>


<h1><%= @bar.name %></h2>
<br>
  <p>City: <%= @bar.city %></p>
  <p>Tap Quantity: <%= @bar.tap_quantity %></p>
  <p>Overnight Delivery: <%= @bar.overnight_delivery %></p>
  <p>Keg Count: <%= @bar.keg_count %>
<br>
