<h1><%= @bar.name %></h1>
<% @kegs.each do |keg| %>
  <h2><%= keg.name %></h2>
  <p>Beer Type: <%= keg.beer_type %></p>
  <p>Ordered: <%= keg.ordered %></p>
  <p>ABV: <%= keg.abv %></p>
  <p>IBU: <%= keg.ibu %></p>
  <p>Price: $<%= keg.price %></p>
<% end %>

<p><%= link_to "Create New Keg", "/bars/#{@bar.id}/kegs/new" %></p><br>

